<template name="userpage">
<div class='main'>
    {{#if currentUser}}
		<button id='brunch-signup'>
	    {{#if signed_up}}
	    	Cancle brunch :(
	    {{else}}
		    Sign Up for Brunch this Week!
	    {{/if}}
		</button>
		<a href='/survey'>Edit Survey!</a>
		<div id = "canvas-back"><canvas id="radar" width="600" height="400"></canvas></div>
    {{else}}
      <label class="control-label"> please log in! </label>
      <script>window.location.replace("./");</script>
    {{/if}}
</div>
</template>
