<template name="homePage">


  <div class="brand">
  <section id="banner">
                <span class="image featured">
                <div id="logo-container">
                <img src="/HTML5front/images/logopng.png" alt="logo" /></div></span>
                <p></p>

            </section>
            </div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">
        <!-- <input id='waycool' type="text"/> -->
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h1 class="intro-text text-center">
                        <strong>Engage</strong> with Princeton. <strong>Enter</strong> the community.
                    </h1>
                    
                </div>
                <div class="col-lg-12 text-center">
                    
                    <hr>
                    <h1>What we do.</h1>
                    <h3><strong>Make the most of your brunches.</strong></h3>
                        <p>If you got one brunch a week with two new people each of the 12 weeks a semester Princeton is in class, you could meet almost 200 new people in the time you have at Princeton. In a place where we can get tied down to tight schedules and repetitive social groups, let brunch be a time to go out into the community and be inspired by Princeton students you may never have otherwise met. 
                        Fill out a profile and get matched on <strong>your</strong> schedule.</p>
                </div>
                <div class="col-lg-12 text-center">
                <img class="img-responsive img-border img-full" src="HTML5front/images/bacon-2.jpg" alt="">
                    <hr>
                    <h1>How we match.</h1>
                        <p>Let's skip the standard Princeton student categorization procedure. We're tired of being matched by major, eating club, gender, or other labels that we adopt while we're here on campus. Instead, let our personality questions match you up with people who simply think like you <strong>(or not like you)</strong>, whatever you prefer. Our personality matching engine is based on psychology research into the Big 5 categories of personality: Openness to Experience, Extraversion, Agreeableness, Neuroticism, and Conscienciousness.</p>
                    <!-- <a href="./signup" class="btn btn-default btn-lg" id="makeProfileButton">Make a profile</a>  -->
                    <button class="btn btn-default btn-lg" id="makeProfileButton">Make a profile</button>
                    <!-- {{> loginButtons}} -->

                    <hr>
                </div>
                
            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script>
        $(function() {
            console.log("hi"); 
            $('#makeProfileButton').click(function() {
                console.log("click");
            });
        }
    </script>

  </template>